@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Sedgwick+Ave+Display&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedgwick+Ave+Display&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lugrasimo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedgwick+Ave+Display&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Han+Sans&family=Kalam:wght@300;400;700&family=Lugrasimo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedgwick+Ave+Display&family=Sriracha&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap');

@keyframes levitate {
    0% { transform: translateY(0); }
    50% { transform: translateY(-4px);}
    100% { transform: translateY(0); }
  }




::-webkit-scrollbar {
    width: 7px;
  }
    ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
    ::-webkit-scrollbar-thumb {
    background:#C4A484; 
      border-radius:10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    
    background: #c9a27c; 
  }
  html {
    scroll-behavior: smooth;
    user-select: none;
    scroll-snap-type: y mandatory;
    scroll-padding-top:var(--scroll-val);
  }

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    user-select: none;
    /* scroll-snap-type: y mandatory; */
    scroll-padding-top:var(--scroll-val);
  }
body{
    background-color: #09101a;
}
#navH3{
    display: flex;
    align-items: center;
    justify-content: center;
    height:3rem;
    width:3rem;
    /* animation: levitate 3s ease-in-out infinite alternate; */
}
a{
    float: left;
}
.navbarA:hover{
    filter: drop-shadow(5px 0px 10px  #C4A484);
    transition: filter 0.6s ease-in;

}
/* Home Screen */
.screens{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.homeScreenDiv{
    gap: 1rem;
}
.segment{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 4rem;
    width:48%;
    height: 85%;
}
.textArea{
    justify-content: flex-end;
}
.auto-text{
    color: #C4A484;
    font-family: "Jersey 25", sans-serif;
    font-optical-sizing: auto;
    font-size:3.3vw;
}
p{
    font-family: "Poppins", sans-serif;
    font-size:1.1rem;
}
#h3Text{
    color: #3a434c;
}
.bottomSegment{
    height:70%;
}
.buttonSpace{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.icon{
    padding:3px;
}
.icon2{
    padding:5px;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height:80%;
    border-radius:25px;
    border: none;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}
.buttons:hover{
    transform: scale(1.1);
    transform: translateY(-4px);
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    filter: drop-shadow(5px 0px 10px  #FFFB7D);
}
.imageArea{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.shadow{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    /* background: linear-gradient(43deg, #cbb094 0%, #dda88c 46%, #FFD29D 100%); */
    /* background-color: #C4A484; */
    /* background-color: #2C3E50; */
    background: #EECDA3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ffc081, #EECDA3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ffc081, #EECDA3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width:34%;
    height:72%;
    border-radius:100% ;
    z-index: -1;
    overflow: hidden;

}
.devPic{
    margin-top: 40rem;
    width: 90%;
    object-fit:fill;
    z-index: 1;
    transition: margin-top 0.9s ease-in-out;
}
.devPic2{
    margin-top: 1.1rem;
    width: 51%;
    object-fit:fill;
    z-index: 1;
    z-index: 2; /* Higher z-index so it's initially above */
    transition: opacity 0.9s ease-in-out; 
}



/* Projects Screen */
.technologiesScreen{
    display: flex;
    flex-direction: column;
}

.conatiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 70%;
    margin-top:5rem;
    border-radius: 8px;
    gap: 1rem;
    flex-wrap:wrap;
   
    
}
.flip-card {
    background-color: transparent;
    width: 15rem;
    height: 13rem;
    perspective: 1000px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  }
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
.flip-card-front, .flip-card-back {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
    
  }
  
.flip-card-front {
    display: flex;
    align-items:center;
    background-color: #131c2b ;
    border-radius: 8px;
    flex-direction: column;
    padding:0.5rem;
  }
  
.flip-card-back {
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: #C4A484;
    color: white;
    border-radius: 8px;
    transform: rotateY(180deg);
    gap:1rem;
  }
  .certified {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffcc70; /* Badge color */
    color: #333; /* Text color */
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    transform: rotate(15deg); /* Tilt effect */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.langNAme{
    margin-top: 1.5rem;
    font-size: 3rem;
    color: #758595  ;
    font-stretch: expanded;
   
}
.python,.js,.kotlin,.SQL{
    font-weight: 950;
    font-size: 7rem; 
    transform: scaleY(1.3);


}
.DART,.JAVA{
    margin-top: 4.1rem;
    font-weight: 900;
    font-size: 4.5rem; 
    transform: scaleY(1.3);
}
.subtext{
    margin-bottom: -0.2;
    position: absolute;
    bottom: 0;
    color: #c4d2cb;
}
.content {
    font-size: 60px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
}

/* Back Side Skill Rating */
h2 {
    font-size: 22px;
    font-weight: bold;
    color: #ffcc70;
    margin-bottom: -15px;
}

/* Rating Bar */
.rating-container {
    width: 80%;
    text-align: center;
}

.progress-bar {
    width: 100%;
    height: 12px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.5);
}
.skill-breakdown p {
    font-size: 1rem;
    color: #ffffff;
    margin: 4px 0;
}
.progress {
    height: 100%;
    background: linear-gradient(135deg, #ffcc70, #ff8c00);
    border-radius: 10px;
    transition: width 0.6s ease-in-out;
    box-shadow: 0px 0px 10px rgba(255, 204, 112, 0.8);
}

.skill-level {
    margin-top: 5px;
    font-size: 16px;
    color: #ffffff;
}

/* Eye Icon Styling */
.eye-icon {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 0.4rem;
    right: 10px;
    background: rgba(255, 255, 255, 0.1);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eye-icon i {
    font-size: 18px;
    color: #ffffff;
}

/* Tooltip Styling */
.tooltip {
    position: absolute;
    top: -2rem;
    right: 50%;
    transform: translateX(50%);
    background: #ffffff;
    color: #222;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

/* Show Tooltip on Hover */
.eye-icon:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

/* Hover Effect */
.eye-icon:hover {
    background: rgba(255, 255, 255, 0.2);
}





/* Project Screen */
.bubbles {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 0;
}

.bubbles span {
    position: absolute;
    bottom: -50px;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    animation: bubbles 10s linear infinite;
}
@keyframes bubbles {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh) scale(0);
        opacity: 0;
    }
}


.bubbles span:nth-child(1) { left: 10%; animation-duration: 6s; width: 15px; height: 15px; }
.bubbles span:nth-child(2) { left: 20%; animation-duration: 8s; width: 20px; height: 20px; }
.bubbles span:nth-child(3) { left: 30%; animation-duration: 6s; width: 25px; height: 25px; }
.bubbles span:nth-child(4) { left: 40%; animation-duration: 10s; width: 20px; height: 20px; }
.bubbles span:nth-child(5) { left: 50%; animation-duration: 5s; width: 30px; height: 30px; }
.bubbles span:nth-child(6) { left: 60%; animation-duration: 7s; width: 15px; height: 15px; }
.bubbles span:nth-child(7) { left: 70%; animation-duration: 9s; width: 25px; height: 25px; }
.bubbles span:nth-child(8) { left: 80%; animation-duration: 6s; width: 20px; height: 20px; }
.bubbles span:nth-child(9) { left: 90%; animation-duration: 8s; width: 25px; height: 25px; }
.bubbles span:nth-child(10) { left: 95%; animation-duration: 7s; width: 30px; height: 30px; }
.bubbles span:nth-child(11) { left: 88%; animation-duration: 1s; width: 30px; height: 30px; }
.bubbles span:nth-child(12) { left: 95%; animation-duration: 3s; width: 30px; height: 30px; }
.bubbles span:nth-child(13) { left: 95%; animation-duration: 5s; width: 30px; height: 30px; }
.bubbles span:nth-child(14) { left: 95%; animation-duration: 17s; width: 30px; height: 30px; }
.bubbles span:nth-child(15) { left: 10%; animation-duration: 2s; width: 30px; height: 30px; }
.bubbles span:nth-child(16) { left: 92%; animation-duration: 11s; width: 30px; height: 30px; }
.bubbles span:nth-child(17) { left: 18%; animation-duration: 12s; width: 30px; height: 30px; }
.bubbles span:nth-child(18) { left: 16%; animation-duration: 8s; width: 30px; height: 30px; }
.bubbles span:nth-child(19) { left: 50%; animation-duration: 3s; width: 30px; height: 30px; }
.bubbles span:nth-child(20) { left: 11%; animation-duration: 1s; width: 30px; height: 30px; }
.projectsScreen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.projectsScreenContainer{
    position: relative;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    padding: 1rem;
    margin-top: 4.5rem;
    width: 90%;
    height: 50%;
    background-color: #0f1b2b;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 1rem;
}
.majorProject,.minorProjecttag{
    position: absolute;
    top: 12px;
    right: 10px;
    background-color: #ffcc70; /* Badge color */
    color: #333; /* Text color */
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
    
}

/* Project Overlay Styling */
.projectOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Black tint */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease, transform 0.7s ease;
    
}

.projectOverlay h3 {
    font-family: "Jersey 10", sans-serif;
   margin-top: 1rem;
    font-size: 1.3rem;
}

.projectOverlay p {
    font-size:0.8rem;
    opacity: 0.9;
}

.projectOverlay span {
    font-size:0.7rem;
    color: #ccc;
}

.projectOverlay a {
    margin-top: 1rem;
    padding: 0.2rem;
    background: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s;
}

.projectOverlay a:hover {
    background: #0056b3;
}

/* Show overlay when hovering over project name */
.cardBody:hover .projectOverlay {
    opacity: 1;
    transform: translateY(0);
}
.cardBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 70%;
    border-radius: 5px;
    background-color: #16283f;
    overflow: hidden;
    
}
.cardimage{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    height:100%;
    width:100%;
    background-color:red;
    overflow: hidden;
}
.cardimage img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardimage::after{
    position: absolute;
    content: '';
    display:inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny 3s ease-in-out infinite;
   
}

.covercaption{
    color: white;
    position: absolute;
    top:8rem ;
    font-size:1rem;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    background: rgba(0, 0, 0, 0.348);
    backdrop-filter: blur(3px);
    padding: 0.5rem 2rem;
    border-radius:11px;
    white-space: nowrap; /* Prevents text wrapping */
    overflow: hidden;
    /* animation: levitate2 3s ease-in-out infinite alternate; */
  } 


/* Assign different animation delays to each card */
.cardBody:nth-child(1) .cardimage::after {
    animation-delay: 0s;  /* No delay */
}

.cardBody:nth-child(2) .cardimage::after {
    animation-delay: 1s;  /* Starts after 1 second */
}

.cardBody:nth-child(3) .cardimage::after {
    animation-delay: 2s;  /* Starts after 2 seconds */
}
@-webkit-keyframes shiny{
      0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
      80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
      81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
      100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
  }

.minorProject{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
    margin-top:1rem;
    width: 90%;
    height: 30%;
    background-color: #0f1b2b;
    border-radius: 7px;
    padding: 1rem;
   
   
}
    

.glowbutton{
    text-align: center;
    font-family: "Jersey 10", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.5rem;
    border: none;
    width:9rem;
    height: 5rem;
    border-radius: 7px;
    background-color: #09101a;
    color: #c9a27c;
    box-shadow:
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 3px #fff,
    0 0 4px #bc13fe,
    0 0 5px #bc13fe,
    0 0 6px #bc13fe,
    0 0 7px #bc13fe,
    0 0 8px #bc13fe;
    animation: levitate 3s ease-in-out infinite alternate;
}    
.glowbutton:nth-child(2) {
    animation-delay: 0.3s;
}
.glowbutton:nth-child(3) {
    animation-delay: 0.6s;
}
.glowbutton:nth-child(4) {
    animation-delay: 0.9s;
}
.glowbutton:nth-child(5) {
    animation-delay: 1.2s;
}

.glowbutton:nth-child(1) {
    animation-delay: 0s;
}
 
/* Footer */

@keyframes blink {
    0% {  color: #21202a;}
    50% {color: #f1f1f1;}
    100% {color: #353443;  }
  }
.socialhadle{
    display: flex;
    gap: 1.5rem;
}
.footerquote{
    margin-right:11rem;
    color: #21202a;
    animation: blink 3s ease-in-out infinite alternate;
    font-family: "Jersey 25", sans-serif;
    font-optical-sizing: auto;
    transition: all 0.6s ease-in;
}


.footerIcon{
    margin-right:0.5rem;
    transition: all 0.3s ease-in;
}
.footerIcon:hover{
    transform: scale(1.1);
    color: #114a95;
    /* filter: drop-shadow(5px 0px 10px  #5384ed); */
}


@media (max-width: 768px) {
    .homeScreenDiv{
        margin-top: 3rem;
        /* background-color: olive; */
        flex-direction: column-reverse;
        gap: 1rem;
    }
    .imageArea{
        width:100%;
        height:60%;
        /* background-color: pink; */
        margin-top: -4rem;
    }
    .imageArea img{
        margin-top: 5rem;
    }
    .shadow{
        margin-top:4rem;
        width: 65%;
        height: 35%;
        aspect-ratio: 1/1;
        border-radius:100%;
    }
    .devPic{
        margin-top: 40rem;
    }
  

    .textArea{
        margin-top:-5rem;
        width: 100%;
        height:50%;
        justify-content: center;
      
    }
    .bottomSegment{
        margin-top: 1.2rem;
    }
    .bottomSegment h2{
        margin-top:-1rem;
    }
    .bottomSegment h3{
        margin-top: 1rem;
    }
    .auto-text{
        font-size: 2.2rem;
    }
    .buttons{
        width: 50%;
        height: 7vh;
    }
    .conatiner {
        width: 90%;
        flex-direction: column;
        align-items: center;
        /* flex-wrap: nowrap; */
        overflow-y: scroll;
        scrollbar-width: thin;
    }
    .flip-card {
        display: flex;
        width: 100%;
        height: 30rem; /* Reduce height */
        align-items: center;
        justify-content: center;

    }
    .certified{
        top: 2rem;
        height: 3.3rem;
        width: 13rem;
        font-size: 1.5rem;
        text-align: center;
        padding: 0.5rem;
    }
    .flip-card-front,
    .flip-card-back {
        align-items: center;
        justify-content: center;
        height: 30rem;
    }
    .langNAme {
        font-size: 11rem;
    }

    .DART, .JAVA {
        font-size: 3.5rem;
    }
    .subtext{
        font-size: 2.5rem;
    }
    .flip-card-back h2 {
        font-size: 3rem;
    }
    .eye-icon {
        width: 3rem;
        height: 3rem;
        top: 2.7rem;
        right: 20px;
    }
    
    .eye-icon .fa{
        font-size: 2.3rem;
        transition: all 0.3s ease-in-out;
    }
    .eye-icon .fa:hover{
        color: #c27647;
    }

    
    .rating-container{
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* background-color: pink; */
        width: 90%;
        height: 70%;
    }
    /* have to fix this shit  */
    .skill-breakdown p {
        font-size: 1.4rem;
        color: #ffffff;
    }
    .skill-level{
        font-size: 2rem;
    }
    .projectsScreenContainer{
        margin-top:5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height: 30rem;
        overflow-x: scroll;
    }
    .cardBody{
        margin-top: 3rem;
        width: 90%;
        height: 100%;

    }
     footer{
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/* @media (max-width: 768px) {
    .skill-breakdown p {
        font-size: 10px;
    }

    .progress-bar {
        height: 8px;
    }

    .skill-level {
        font-size: 14px;
    }
} */
/* Fix RWD ASAP */